{% extends 'base.html' %}
{% block content %}
{% load static %}




    <div class="container">
        <div class="jumbotron">
        <h1>PATIENT MANAGEMENT SYSTEM</h1>
       
       
        
            
            {% if user.is_authenticated %}
        <h2 style="color: grey;">Hello {{ user.username }}. Welcome to the system</h2>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
        </div>
        
    </div>
    <div class="jumbotron">
        <img src="{%static '/img/chat.png' %}" style="vertical-align: center;">
    </div>
         
{% endblock %}

