{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Patient Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'dashboard' %}">PMS</a>
        </div>
          <ul class="nav navbar-nav">
          
        <ul class="nav navbar-nav navbar-left">
            <li><a href='http://127.0.0.1:8000/admin'><span class="glyphicon glyphicon-log-in"> Admin Login</span></a></li></ul>
            <li><a href="{% url 'receptionist' %}"><span class="glyphicon glyphicon-user"></span> Receptionist</a></li>
            <li><a href="{% url 'doctor' %}"><span class="glyphicon glyphicon-user"></span> Doctor</a></li>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'phamarcist' %}"><span class="glyphicon glyphicon-user"></span> Phamarcist</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        </ul>
    </ul>

      </div>


    </nav>
<body>
    <div class="container">
      <h1 style="margin-left:120px;">Registered Doctors</h1>
        <ul class="breadcrumb">
            <li><a class="btn btn-info" href="{% url 'home' %}">Home</a></li>
            <li><a class="btn btn-info" style="margin-left:5px;" href="{% url 'dashboard' %}">Dashboard</a></li>
            <a href="{% url 'login' %}"><button class="btn btn-info" style="margin-left:5px;">Log Out</button></a>
        </ul>

<table class="table table-striped" id="tabledel">

  <thead class="boarder-bottom font-weight-bold">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Speciality</th>
      <th scope="col">Phone</th>
      <th scope="col">email</th>
      <th scope="col">address</th>
    </tr>
  </thead>
  <tbody>
  {% for doc in view_doctor %}
      <tr>
      <th scope="row">{{doc.id}}</th>
      <td>{{doc.Name}}</td>
      <td>{{doc.Speciality}}</td>
      <td>{{doc.Phone}}</td>
      <td>{{doc.Email}}</td>
      <td>{{doc.Address}}</td>
        <td><a class="btn btn-success" href="{% url 'edit_doctor' %}">Edit</a></td>
        <td><a class="btn btn-info" href="{% url 'delete_doctor' %}">Delete</a></td>
        <!--<td><a class="btn btn-danger" href="#" onclick="myFunction()">Delete Profile</a></td>-->
    </tr>


  {% endfor %}

  </tbody>
</table>
<a class="btn btn-success" href="{% url 'add_doctor' %}">Add Doctor</a>
    </div>
    <!--<script>-->
        <!--function myFunction(){-->
            <!--document.getElementById("tabledel").deleteRow(0);-->
        <!--}-->
    <!--</script>-->
</body>
</html>