{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
    <div class="container">
      <h1 style="margin-left:120px;">Registered Doctors</h1>
        <ul class="breadcrumb">
            <li><a class="btn btn-info" href="{% url 'home' %}">Home</a></li>
            <li><a class="btn btn-info" style="margin-left:5px;" href="{% url 'dashboard' %}">Dashboard</a></li>
            <a href="{% url 'login' %}"><button class="btn btn-info" style="margin-left:5px;">Log Out</button></a>
        </ul>

<table class="table table-striped" id="tabledel">

  <thead class="boarder-bottom font-weight-bold">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Speciality</th>
      <th scope="col">Phone</th>
      <th scope="col">email</th>
      <th scope="col">address</th>
    </tr>
  </thead>
  <tbody>
  {% for doc in view_doctor %}
      <tr>
      <th scope="row">{{doc.id}}</th>
      <td>{{doc.Name}}</td>
      <td>{{doc.Speciality}}</td>
      <td>{{doc.Phone}}</td>
      <td>{{doc.Email}}</td>
      <td>{{doc.Address}}</td>
        <td><a class="btn btn-success" href="{% url 'edit_doctor' %}">Edit</a></td>
        <td><a class="btn btn-info" href="{% url 'delete_doctor' %}">Delete</a></td>
        <!--<td><a class="btn btn-danger" href="#" onclick="myFunction()">Delete Profile</a></td>-->
    </tr>


  {% endfor %}

  </tbody>
</table>
<a class="btn btn-success" href="{% url 'add_doctor' %}">Add Doctor</a>
    </div>

{% endblock %}