{% extends 'base.html' %}
{% block content %}
{% load static %}


    
      <h1 style="margin-left:120px;">Registered Patients</h1>
      
<table class="table table-striped" id="tabledel">

  <thead class="boarder-bottom font-weight-bold">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Bio</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
  {% for pat in view_patient %}
      <tr>
      <th scope="row">{{pat.id}}</th>
      <td>{{pat.Name}}</td>
      <td>{{pat.bio}}</td>
      <td>{{pat.Phone}}</td>
      <td>{{pat.Email}}</td>
      <td>{{pat.gender}}</td>
        
        <!--<td><a class="btn btn-danger" href="#" onclick="myFunction()">Delete Profile</a></td>-->
    </tr>
  {% endfor %}

  </tbody>
</table>

{% endblock %}