{% extends 'base.html' %}
{% block content %}
{% load static %}

    <h1 style="margin-left:200px;">Phamarcist's Page</h1>
        
        <ul class="breadcrumb">
           
            <li><a class="btn btn-info" style="margin-left:5px;" href="{% url 'dashboard' %}">Dashboard</a></li>
            <a href="{% url 'login' %}"><button class="btn btn-info" style="margin-left:5px;">Log Out</button></a>
            
        </ul>
       

       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    
                    <a href="{% url 'view_recommendations' %}"><button class="btn btn-success">View Recommendations</button></a>
                    
                </div>
            </div>
        </div>
    
{% endblock %}