{% extends 'base.html' %}
{% block content %}
{% load static %}

    <h1 style="margin-left:200px;">Receptionist's Page</h1>
        
       
       
       

       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    
                    <a href="{% url 'add_patient' %}"><button class="btn btn-success">Add Patient</button></a>
                    <a href="{% url 'view_patient' %}"><button class="btn btn-success">View Patient</button></a>
                    <a href="{% url 'add_appointment' %}"><button class="btn btn-info">Add Appointment</button></a>
                    <a href="{% url 'view_appointment' %}"><button class="btn btn-success">View Appointment</button></a>
                    
                </div>
            </div>
        </div>
    
{% endblock %}