{% extends 'base.html' %}
{% block content %}
{% load static %}

    
      <h1 style="margin-left:120px;">Recommendations from Doctor</h1>
      
<table class="table table-striped" id="tabledel">

  <thead class="boarder-bottom font-weight-bold">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Patient</th>
      
      <th scope="col">Illness</th>
      <th scope="col">Medicine</th>
      
    </tr>
  </thead>
  <tbody>
  {% for pat in view_recommendations %}
      <tr>
      <th scope="row">{{pat.id}}</th>
      <td>{{pat.patient}}</td>
  
      <td>{{pat.illness}}</td>
      <td>{{pat.medicine}}</td>
      
        
        <!--<td><a class="btn btn-danger" href="#" onclick="myFunction()">Delete Profile</a></td>-->
    </tr>
  {% endfor %}

  </tbody>
</table>

  
{% endblock %}